<section class="about-main">
    <div class="about-image">
        <img src="https://mtngoatphoto.files.wordpress.com/2015/05/more-selections-6.jpg" alt="About Page Image">
    </div>


<!--so is a ui-view within a ui-view, and with the "class" tag we are able to stle it with css-->

    <ui-view class="about-inner-right">

    <section class="about-inner-intro">
        <h1>WE ARE A GROUP OF <em style="color:#12F0F0">ADVENTURERS</em></h1>
        <p>I am a wanderer and a mountain-climber (he said to his heart), I do not like the plains and it seems I cannot sit still for long. 
            And whatever may yet come to me as fate and experience, a wandering and a mountain-climbing will be in it. </p>

        <!--You will need to add a ui-sref here that points the adventurers state-->

        <button ui-sref="adventurers"> MEET THE ADVENTURERS </button>
    </section>
    </ui-view>

</section>
